@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-dark: #1a202c;
  --foreground-dark: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: serif, monospace, sans-serif;
}

/* For Dark Mode */
.dark body {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
